---
layout: default
title: Software Engineer | Software Consultant | Ruby on Rails | JavaScript
body: home
---

{% include banner.html %}

{% include nav.html %}

	<main class="main">
		<section class="section section--sobre" id="sobre">
			<div class="container clearfix">
				<h2>About</h2>
				<div class="col col-1-3 first">
					<img src="dist/img/i-sit.png" alt="Eu em forma de desenho sentado de pernas cruzados olhando para o lado, com calça jeans e camiseta vermelha." width="208" height="284">
				</div>
				<div class="col col-2-3">
					<p>Hey, my name is Rodrigo Boniatti. I live in Brazil and I work as a software engineer at <a href="http://www.codeminer42.com/" target="_blank">Codeminer 42</a>.</p>
					<p>I've been working with Ruby and Javascript and other technologies that surround them for some good years. Also, I like to speak in some events and write some posts on my <a href="/blog/">blog</a>.</p>
					<p>Reach me out if you have any question.</p>
				</div>
			</div>
    </section>

		<section class="section section--talks" id="talks">
      <div class="container clearfix">
        <h2>Talks</h2>
        <div class="col col-1-3 first">
          <script async class="speakerdeck-embed" data-id="93d845aee65143bca7216ee6147ac385" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
        </div>
        <div class="col col-2-3">
          <iframe width="500" height="280" src="https://www.youtube.com/embed/S3ktJLuTkfU" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </section>

		<section class="section section--contato" id="contato">
			<div class="container clearfix">
				<h2>Contact</h2>
				<div class="col col-1-2 first">
					<div class="i-stand-up">
						<img class="i-body" src="dist/img/I.png" alt="Um ilustração minha de pé, tomando café com uma camisa vermelha." width="187" height="491">
						<div class="i-mouth"></div>
						<img class="i-arm" src="dist/img/arm.png" alt="Meu braço aponta pra o campo do formulário que está selecionado." width="266" height="99">
						<img class="i-arm-bent" src="dist/img/arm-bent.png" alt="Meu braço com a mão no bolso" width="113" height="256">
					</div>
					<span class="illustrations-by">Illustrations by: <a href="http://cassamali.com/" target="_blank">Fernando Cassamali</a></span>
				</div>
				<div class="col col-1-2">
					<p>Do you need help with your tech project or want to talk about something? Just send me a message.</p>
					<form class="form" action="//formspree.io/boniatti.rodrigo@gmail.com" method="post">
						<label for="nome">Name</label>
						<input id="nome" type="text" name="Nome" required>
						<label for="email">Email</label>
						<input id="email" type="email" name="Email" required>
						<label for="mensagem">Message</label>
						<textarea name="Mensagem" id="mensagem" cols="30" rows="10" required></textarea>
						<input class="hidden subject" name="_subject" value="Contato via site">
						<input class="hidden" type="text" name="_gotcha">
						<input class="btn-submit" type="submit" value="Send">
					</form>
				</div>
			</div>
			<img class="mountain" src="dist/img/background-footer.png" alt="">
		</section>
	</main>
