	<nav class="nav" role="navigation">
		<div class="container">
			<a class="logo" href="/">Rodrigo Boniatti</a>
			<a class="menu-toggle" href="#">Menu</a>
			<div class="nav__options">
				{% if page.body == 'blog' %}
				<a href="/">Home</a>
				<a href="/blog/">Blog</a>
				{% else %}
				<a id="nav-sobre" href="#sobre">About</a>
				<a id="nav-trabalhos" href="#trabalhos">Portfolio</a>
				<a id="nav-talks" href="#talks">Talks</a>
				<a href="/blog/">Blog</a>
				<a id="nav-contato" href="#contato">Contact</a>
				{% endif %}
			</div>
		</div>
	</nav>