//
// Elements: Article
// ----------------------------------------------------------------------------

.box-post {
	padding: 2em;
	background: url("../img/background.png");
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.article {
	color: inherit;

	article {
		margin-bottom: 40px;
		@extend .box-post;
	}

	img {
		width: 100%;
	}

	&__details {
		margin-top: 20px;
		font-weight: 600;

		&__date {
			float: left;
		}

		&__tags {
			float: right;
			text-transform: lowercase;

			a {
				color: #2D2929;
			}
		}
	}
}

.aside {
	@extend .box-post;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		a {
			display: block;
			padding: .4em 0;
			font-family: "Source Sans Pro", "Open Sans", sans-serif;
			font-size: 1.2em;
			font-weight: 600;
			line-height: 1em;
			color: #2D2929;
		}
	}
}

@media (max-width: 760px) {
	.article {

		&__details {

			&__date {
				display: block;
				float: none;
			}

			&__tags {
				display: block;
				float: none;
				margin-top: 5px;
			}
		}
	}

	.aside {
		position: relative;
		float: none;
		width: 90%;
		margin: 40px auto;
		clear: both;
	}
}