//
// Widget: Navigation
// ----------------------------------------------------------------------------

.nav {
	position: relative;
	width: 100%;
	height: 48px;
	background: #2d2929;
	background-image: linear-gradient(#4b4a4a, #2f2e2e);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .3);

	a {
		display: block;
		padding: .9em 1.3em;
		font-family: "Source Sans Pro", "Open Sans", sans-serif;
		text-decoration: none;
		color: #fff;
	}

	.logo {
		float: left;
	}

	.menu-toggle {
		display: none;
		float: right;
		padding-left: 3em;
		font-size: 1em;
		text-transform: uppercase;
	}

	&__options {
		float: right;

		a {
			float: left;
			font-weight: 600;
			text-transform: uppercase;
		}
	}

	&--fixed {
		position: fixed;
		top: 0;
		z-index: 10;
	}
}

@media (max-width: 800px) {

	.nav {
		.menu-toggle {
			display: inline-block;
			background: url("../img/menu.svg") no-repeat 15px 16px;
		}

		&__options {
			display: none;

			&--active {
				position: absolute;
				top: 48px;
				left: 0;
				z-index: 5;
				display: block;
				width: 100%;
				background: #2d2929;
				border-top: 2px solid #fff;

				a {
					width: 50%;
					text-align: center;
					border: 1px solid #fff;
				}

			}

		}
	}

}
