//
// View: Blog
// ----------------------------------------------------------------------------

.blog {
	background-image: linear-gradient(#d3f1fc -450px, #00b3f9 500px, #88a0ab 510px);

	.main {
		min-height: 850px;
		z-index: 2;
		padding-top: 48px;
	}

	.mountain {
		position: absolute;
		top: 422px;
		z-index: 1;
	}
}