//
// View: Home
// ----------------------------------------------------------------------------

// Sobre
// ----------------------------------------------

.section--sobre {
	img {
		float: right;
		margin: -20px auto 0;
	}
}

@media (max-width: 760px) {
	.section--sobre {
		img {
			display: block;
			float: none;
			margin: 0 auto;
		}
	}
}

@media (max-width: 520px) {
	.section--sobre {
		img {
			width: 140px;
		}
	}
}

// Trabalhos
// ----------------------------------------------

.section--trabalhos {
	padding-bottom: 4em;

	a {
		text-decoration: none;

		figure {
			border-radius: 4px;
			transition: box-shadow .3s;
		}

		img {
			border-radius: 3px;
			transition: opacity .3s;
		}

		.button {
			transition: transform .3s, box-shadow .3s;
		}

		&:hover {
			img {
				opacity: .85;
			}

			figure {
				box-shadow: inset 0 4px 30px rgba(0,0,0,.5);
			}

			.button {
				transform: translateY(-5px);
				box-shadow: 0 2px 8px rgba(0,0,0,.5);
			}
		}

		&:focus {
			outline: none;
		}

	}

}

// Contato
// ----------------------------------------------

.section--contato {
	background-image: linear-gradient(#d3f1fc -72%, #00b3f9 58%, #88a0ab 83%);
	background-size: 100%;
	padding-bottom: 4em;

	> div {
		z-index: 2;
	}

	p,
	.form {
		padding-right: 4em;
	}

	.i-stand-up {
		position: relative;
		height: 491px;
		margin: 100px 0 0 50px;
	}

	.illustrations-by {
		display: block;
		margin-top: 20px;
	}

	.i-body {
		position: absolute;
		z-index: 1;
	}

	.i-mouth {
		position: absolute;
		z-index: 2;
		top: 165px;
		left: 88px;
		width: 50px;
		height: 20px;
		background: url("../img/smile.png") no-repeat;
	}

	.i-happy-smile {
		top: 162px;
		left: 92px;
		background: url("../img/happy-smile.png") no-repeat;
	}

	.i-open-mouth {
		top: 163px;
		left: 93px;
		background: url("../img/open-mouth.png") no-repeat;
	}

	.i-arm {
		position: absolute;
		z-index: 0;
		top: 143px;
		right: 5%;
	}

	.i-arm-bent {
		position: absolute;
		z-index: 0;
		top: 182px;
		right: 0;
		display: none;
	}

	.i-arm-email-focus {
		top: 173px;
		transform: rotateZ(17deg);
	}

	.i-arm-mensagem-focus {
		top: 206px;
		transform: rotateZ(37deg);
	}

	.form {
		margin-top: 40px;
	}

	label {
		display: block;
		font-weight: 600;
		margin: 20px 0 10px;
		font-size: 1.25em;
	}

	label:first-child {
		margin-top: 0;
	}

	input,
	textarea {
		width: 100%;
		padding: .35em .5em;
		line-height: 1.5em;
		border: solid 1px #4b4a4a;
		border-radius: 4px;
		background: #fff;
		transition: background .3s;

		&:focus {
			background: #e8e8e8;
			outline: 0;
		}
	}

	textarea {
		height: 150px;
		max-height: 200px;
		resize: vertical;
	}

	.btn-submit {
		float: right;
		width: auto;
		min-width: 130px;
		margin-top: 5px;
		padding: .25em 1em;
		font-family: "Source Sans Pro", "Open Sans", sans-serif;
		font-size: 1.125em;
		font-weight: 600;
		text-shadow: 0 1px 3px rgba(0, 0, 0, .75);
		color: #fff;
		border-color: #878787;
		background: #9cb040;
		background-image: linear-gradient(#d0e087, #9cb040);

		&:focus {
			background: #9cb040;
		}

		&--success {
			border-color: #029cd8;
			background: #0290c7;
			background-image: linear-gradient(#02a8e9, #0278a5);

			&:focus {
				@extend .btn-submit--success;
			}
		}

		&--error {
			border-color: #fa4447;
			background: #fb5458;
			background-image: linear-gradient(#fb5458, #fa3337);

			&:focus {
				@extend .btn-submit--error;
			}
		}
	}

	.error {
		background: #fda7a9;
	}

	label.error {
		display: none !important;
	}

	.form-message {
		width: 100%;
		float: right;
		font-weight: 700;
		line-height: 1.5em;
		text-align: center;
		padding: .5em 0;
	}

}

.mountain {
	position: absolute;
	bottom: 0;
	z-index: 1;
}

@media (max-width: 980px) {
	.section--contato {

		p,
		.form {
			padding-right: 0;
		}

		.i-stand-up {
			width: 236px;
		}

		.i-arm {
			display: none;
		}
		.i-arm-bent {
			display: block;
		}
	}
}

@media (max-width: 760px) {
	.section--contato {
		.first {
			display: none;
		}

		.col {
			margin-top: 0;
		}

		label {
			font-size: 1.125em;
		}

		.mountain {
			bottom: 100px;
		}
	}
}
