---
layout: default
body: blog
---

{% include nav.html %}

	<main class="main container clearfix">
		<h2>{{ page.tag }}</h2>
		<section class="col col-2-3 first article">
		{% if site.tags[page.tag] %}
			{% for post in site.tags[page.tag] %}
			<a href="{{ post.url }}" class="article">
				<article>
					<h1>{{ post.title }}</h1>
					<p>{{ post.short_description }}</p>
					<div class="article__details clearfix">
						<time class="article__details__date" datetime="{{ post.date_short }}">{{ post.date_long }}</time>
						{% for post_tag in post.tags %}
							{% assign tag = site.data.tags[post_tag] %}
				            {% capture tags_content_temp %}{{ tags_content }}<span>#{{ tag.name }}</span>
				            	{% if forloop.last == false %}
				            	{% endif %}
				            {% endcapture %}
				            {% assign tags_content = tags_content_temp %}
				        {% endfor %}
						<span class="article__details__tags">{{ tags_content }}</span>
    					{% assign tags_content = '' %}
					</div>
				</article>
			</a>
			{% endfor %}
		{% else %}
		<article>
			<p>Nenhum post com essa tag foi encontrado.</p>
		</article>
		{% endif %}
		</section>
{% include aside.html %}
	</main>
	<img class="mountain" src="../../../../../dist/img/background-footer.png" alt="">