<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rodrigo Boniatti ‹ Desenvolvedor Web</title>

    <meta name="description" content="Olá, sou gaúcho, tenho 19 anos, trabalho como desenvolvedor web na Skillsoft Sistemas e sou estudante de Sistemas para Internet na Universidade Feevale. Trabalho em projetos envolvendo Python e Django na criação sistemas online, porém já atuei como Front-end, tendo conhecimento sobre marketing digital. Procuro entender todo o ecosistema da internet e compartilhar tudo o que venho aprendendo.">
    <meta name="author" content="Rodrigo Boniatti">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Twitter Summary Card / Source: https://dev.twitter.com/cards/types/summary -->
    <meta name="twitter:card" content="Desenvolver wev">
    <meta name="twitter:site" content="@boniattirodrigo">
    <meta name="twitter:title" content="Rodrigo Boniatti - Desenvolver Python/Django e Front-end">
    <meta name="twitter:description" content="Olá, sou gaúcho, tenho 19 anos, trabalho como desenvolvedor web na Skillsoft Sistemas e sou estudante de Sistemas para Internet na Universidade Feevale. Trabalho em projetos envolvendo Python e Django na criação sistemas online, porém já atuei como Front-end, tendo conhecimento sobre marketing digital. Procuro entender todo o ecosistema da internet e compartilhar tudo o que venho aprendendo.">
    <meta name="twitter:image" content="">
    <!-- Facebook Open Graph / Source: https://developers.facebook.com/docs/sharing/best-practices -->
    <meta property="og:title" content="Rodrigo Boniatti - Desenvolver Python/Django e Front-end">
    <meta property="og:site_name" content="Rodrigo Boniatti">
    <meta property="og:url" content="http://boniattirodrigo.com">
    <meta property="og:description" content="Olá, sou gaúcho, tenho 19 anos, trabalho como desenvolvedor web na Skillsoft Sistemas e sou estudante de Sistemas para Internet na Universidade Feevale. Trabalho em projetos envolvendo Python e Django na criação sistemas online, porém já atuei como Front-end, tendo conhecimento sobre marketing digital. Procuro entender todo o ecosistema da internet e compartilhar tudo o que venho aprendendo.">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:image" content="https://raw.githubusercontent.com/boniattirodrigo/boniattirodrigo.github.io/master/assets/img/i-sit.png">

    <link rel="shortcut icon" type="type/png" href="/favicon.png">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Open+Sans:400,600">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/magnific-popup.min.css">
    <link rel="stylesheet" href="/dist/css/main.css">

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->

</head>

    <body>

    {{ content }}

        <footer class="footer" role="contentinfo">
            <div class="social-media clearfix">
                <a class="ir social-media__github" href="https://github.com/boniattirodrigo" target="_blank">Github</a>
                <a class="ir social-media__facebook" href="https://www.facebook.com/rodrigo.boniatti.5" target="_blank">Facebook</a>
                <a class="ir social-media__linkedin" href="https://br.linkedin.com/in/rodrigoboniatti" target="_blank">Linkedin</a>
                <a class="ir social-media__twitter" href="https://twitter.com/boniattirodrigo" target="_blank">Twitter</a>
            </div>
            <address><a href="mailto:boniatti.rodrigo@gmail.com">boniatti.rodrigo@gmail.com</a></address>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.0.0/jquery.magnific-popup.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
        <script src="/dist/js/main.js"></script>

        <!-- Google Analytics -->
        <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

    </body>
</html>