---
layout: default
body: blog
---

{% include nav.html %}

	<main class="main container clearfix">
		<h2>{{ page.title }}</h2>
		<section class="col col-2-3 first article">
			<article>
				{{ content }}
				<div class="article__details clearfix">
					<time class="article__details__date" datetime="{{ page.date_short }}">{{ page.date_long }}</time>
					{% for page_tag in page.tags %}
						{% assign tag = site.data.tags[page_tag] %}
			            {% capture tags_content_temp %}{{ tags_content }}<a href="/blog/tag/{{tag.name}}">#{{ tag.name }}</a>
			            	{% if forloop.last == false %}
			            	{% endif %}
			            {% endcapture %}
			            {% assign tags_content = tags_content_temp %}
			        {% endfor %}
					<span class="article__details__tags">{{ tags_content }}</span>
				</div>
			</article>
{% include disqus.html %}
		</section>
{% include aside.html %}
	</main>
	<img class="mountain" src="/dist/img/background-footer.png" alt="">
